body{
    width: 100vw;
    height: 100vh;
    background: hsl(30, 38%, 92%);
    font-size: 14px;
}
p {
    color: hsl(228, 12%, 48%)
}
.center-holder {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    border-color: red;
    background: hsl(0, 0%, 100%);
    border-radius: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.gab-image {

    /* background-image: url(../images/image-product-desktop.jpg); */
    grid-template-rows: subgrid;
    
    border-radius: inherit;
    
    
}
.perfume {
    height: 100%;
    max-width: 100%;
    border-radius: 2% 0 0 2%;
    display: block;
    margin: auto;
}

.info {
    display: grid;
    text-align: left;
    float: right;
    
}

.add-to-cart {
    width: 90%;
    background: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    border: 0px;
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 1.5em;
    
     
}
.add-to-cart:hover {

    background: hsl(159, 37%, 23%);
    color: hsl(30, 38%, 92%);
 }

.price {
    display: inline-block;
    left: 30%
}


.price h1 {
    display: inline;
    color: hsl(158, 36%, 37%);
    margin-right: 1em;
}
.price p{
    text-decoration: line-through;
    display: inline;
}

.info p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.info h1 {
    font-family: 'Fraunces', serif;
    font-size: xx-large;

}
.title {
    letter-spacing: 4px;
    margin-top: 4em;
    margin-bottom: 0;
}
.card-header {
    width:70%;
    height:auto;
    font-size:3em;
    margin-top: 0;
    margin-bottom: 0;
}

.description {
    margin-top: 0;
    width: 90%;
    font-weight: 400;
    line-height: 2em;
}

.cart {
    margin-right: 1em
}